.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  padding-right: 0px;
  box-sizing: border-box;
  margin-top: 5.5rem;
}

.profile-header {
  width: 100%; 
  border-bottom: 0.2rem solid #000;
  padding-bottom: 0.8rem;
  padding-right: 0px;
}

.profile-head {
  font-style: italic;
  font-size: 1.4rem;
}

.profile-update {
  background-color: #d63d3dbb;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  max-width: 40%;
  font-size: 1rem;
  font-style: italic;
}

.profile-update a {
  color: blue;
  cursor: pointer;
}

.bold-text{
  font-weight: bold;
}

.email-verification{
  font-size: 1.2rem;
  border-radius: 0.8rem;
  box-shadow: inset;
  text-align: center;
  margin-top: 0.8rem;
  color: white;
  padding: 0.2rem 0.5rem;
  margin-left: 46%;
  background-color: gray;
}