body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 1200px;
    width: 800px;
    z-index: -1;
  }
  